.font-logo {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: azure;
    transition: all .5s;
}

.font-logo:hover {
    color: #ffc800;
    transition: all .5s;
}

.font-section-name {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: azure;
}

.font-section-text {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: azure;
    font-size: large;
}

header {
    color: azure;
    background-color: blueviolet;
    position: sticky;
    top: 0%;
    margin: 0%;
    padding: 1px;
}

footer {
    min-height: 4em;
    display: flex;
    color: azure;
    background-color: blueviolet;
    position: fixed;
    min-width: 100%;
    margin: 0%;
    justify-content: center;
    bottom: 0;
    /* padding-top: 1em; */
}

.texter {
    padding: 10px;
    background-color: white;

}

.texter:hover {
    cursor: pointer;
    background-color: #8a00b8;
    border-color: indigo;
    color: azure;

}

li {
    list-style-type: none;
}

.cool-btn {
    font-family: "Concert One", sans-serif;
    text-align: center;
    background-color: azure;
    font-size: 1.2rem;
    line-height: 2.5;
    font-weight: lighter;
    border-radius: 10px;
    border-color: #ffc800;
    padding: 1rem;

}

.cool-btn:hover {
    transition: all .2s;
    cursor: pointer;
    background-color: #ffd951;
}

body {
    background-color: rgb(164, 97, 227);
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-inline-start: 0%;
}

.logo {
    vertical-align: middle;
    /* padding-inline-start: 1%; */
}

img {
    vertical-align: middle;
}

nav li {
    display: inline-block;
}

nav li:first-child {
    text-align: left;
    margin-right: auto;
}

.tab {
    margin-left: 20%;
}

h1,
h2 {
    margin: 0;
    display: inline-block;
}

nav li h1 {
    width: fit-content;
}

#tg-link {
    /* bottom: 0; */
    vertical-align: -100%;
    transition: all .5s;
}

#tg-link:hover {
    /* bottom: 0; */
    vertical-align: -50%;
    transition: all .2s;
}

#gh-link {
    /* bottom: 0; */
    vertical-align: -100%;
    transition: all .2s;
}

#gh-link:hover {
    /* bottom: 0; */
    vertical-align: -50%;
    transition: all .2s;
}

#email {
    /* bottom: 0; */
    vertical-align: -100%;
    transition: all .2s;
}

#email:hover {
    bottom: 0;
    vertical-align: -50%;
    transition: all .2s;
}

#fetch-title {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: azure;
    font-size: large;
    margin-left: 20%;
}

#fetch-image {
    margin-left: 20%;
}

#fetch-date {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: azure;
    font-size: large;
    margin-left: 20%;
}